<button onclick="getData()">BAAAM!</button>
<div>
  <button onclick="showAll()">Show All</button>
  <button onclick="showPolice()">Show Police</button>
  <button onclick="showPolice()">Show Police</button>
</div>
<div id="employees"></div>